#!/bin/sh
mkdir default_theme

ln -s ../themes/classic/config default_theme/config
ln -s ../themes/classic/date.xpm default_theme/date.xpm
ln -s ../themes/classic/clock.xpm default_theme/clock.xpm
ln -s ../themes/classic/led.xpm default_theme/led.xpm
ln -s ../themes/classic/hour.xpm default_theme/hour.xpm
ln -s ../themes/classic/minute.xpm default_theme/minute.xpm
ln -s ../themes/classic/second.xpm default_theme/second.xpm
ln -s ../themes/classic/beats.xpm default_theme/beats.xpm
ln -s ../languages/english/month.xpm default_theme/month.xpm
ln -s ../languages/english/weekday.xpm  default_theme/weekday.xpm

xmkmf
make clean
